name: run-tests-on-push
on: push
jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4 #there are different versions of the actions/checkout action
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          architecture: 'x64'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          python -m pip install pandas
          python -m pip install plotly
          python -m pip install pytest-cov
          python -m pip install pyqt5
          python -m pip install sqlalchemy
      - name: Execute tests and generate report
        id: pytest
        run: |
          python -m pytest --junitxml="junit/test-results_`date '+%Y-%m-%d_%T'`.xml" --doctest-modules | tee testresults
          echo "EXIT_CODE=${PIPESTATUS[0]}" >> "$GITHUB_OUTPUT"
        #  TEST_SUMMARY_START=$(cat testresults | grep FAILURES)
        #  TEST_SUMMARY_END=$(cat testresults | grep "summary info")
        #  sed -n "/$TEST_SUMMARY_START/,/$TEST_SUMMARY_END/p" testresults > failure_log
        #  F_LOG=$(cat failure_log)
        #  FAIL_LOG=$(echo "$F_LOG")
        #  echo "FAILURE_LOG="$FAIL_LOG"" >> "$GITHUB_OUTPUT"
      # - name: If All Tests Pass, Merge
      #   if: ${{ steps.pytest.outputs.EXIT_CODE == 0 }}
      #   uses: devmasx/merge-branch@master
      #   with:
      #     type: now
      #     target_branch: main
      #     message: ${{ github.run_id }} tests passed.
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: If ANY Test Fails, Open A Ticket
        if: ${{ steps.pytest.outputs.EXIT_CODE != 0 }}
        uses: dacbd/create-issue-action@main
        with:
          token: ${{github.token}}
          title: Github Workflow/Merge Failed.
          body: |
            ### Context
            [Failed Run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
            [Codebase](https://github.com/${{ github.repository }}/tree/${{ github.sha }})
            Workflow name - `${{ github.workflow }}`
            Job -           `${{ github.job }}`
            status -        `${{ job.status }}`
            Log -           `${{ steps.pytest.outputs.FAILURE_LOG }}`
          assignees: jschalk
      #TODO:
        #clip portion of test results with failure messages [DONE]
        #open new issue [DONE]
        #dump failure text into issue, add some other details